.logo {
    margin: auto;
    width: 70px;
    padding: 1rem;
  }
  .ant-layout-sider-collapsed {
    .logo {
      padding: .5rem;
      width: 50px;
    }
  }
  .siteLayout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }